client/secure/dist/*.js.LICENSE.txt
client/identify/dist/*.js.LICENSE.txt
client/identifycore/dist/*.js.LICENSE.txt
client/secure/dist/secure_v0.7.js
client/identify/dist/identify_v0.7.js
client/identifycore/dist/identify_core_v0.7.js
client/secure/dist/secure_v0.8.js
client/identify/dist/identify_v0.8.js
client/identifycore/dist/identify_core_v0.8.js
client/identify/node_modules
client/identifycore/node_modules
client/proxy/src/*.js
client/proxy/node_modules
server/seller/node_modules
server/seller/src/*.js
server/landing/src/*.js
tool/src/*.js
tool/node_modules

