
.Window_EnterSecret{
    width:700px;
    height:160px;
}
.Window_FirstLine_EnterSecret {
    width:275px;
    height:18px;
}
.Window_ColumnDirection_EnterSecret{
    height: 200px;
}

.EnterSecret_Message{
    font-size: 13px;
}