.CallbackButton {
    display: inline;
    color: #ffffff;
    background-color: #2d63c7;
    font-size: 11px;
    border: 1px solid #2d63c7;
    border-radius: 10px;
    padding: 2px 2px;
    letter-spacing: 0px;
    cursor: pointer;
}
.CallbackButton:hover {
    color: #2d63c7;
    background-color: #ffffff;
}